<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Silencia los logs de HTTP request/response de Karate -->
    <logger name="com.intuit.karate" level="INFO"/>
    <logger name="com.jayway.jsonpath" level="INFO"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>